footer{
    margin-top:3rem;
    padding-left: 20px;
    height:10rem;
    padding:10px 30px;
    background-color: white;
}
footer div{
    text-align: center;
    font-size: 1.5rem;
    color:#aaa;
    padding-top: 2rem;
}
footer i:hover{
    color:rosybrown;
}
